<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <application>
        <provider
            android:name="io.kshitij.logkeep.core.LogKeepInitProvider"
            android:authorities="${applicationId}.logkeep"
            android:exported="false"
            android:initOrder="100" />
        <activity
            android:name="io.kshitij.logkeep.ui.LogKeepActivity"
            android:exported="false"
            android:label="LogKeep" />
        <provider
            android:name="io.kshitij.logkeep.core.export.LogKeepFileProvider"
            android:authorities="${applicationId}.logkeep.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/logkeep_file_paths" />
        </provider>
    </application>
</manifest>
